.App {
  text-align: center;
}

.folder {
  padding: 0.8em;
  max-width: 20em;
  background-color: gray;
  border: 1px solid black;
  border-left: 0.4em solid black;
  margin: 0.7em auto;
}

.file {
  padding: 0.8em;
  max-width: 20em;
  background-color: blueviolet;
  border: 1px solid black;
  border-left: 0.4em solid turquoise;
  margin: 0.7em auto;
}